
/* standard settings for the beginning of a css page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    animation: backgroundcolour infinite 40s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* defining header attributes */
header {
    display: flex;
    
    height: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
/* making list items in unordered list inline */
ul li {
    display: inline;
    
}
/* unordered list attributes  */
ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}
/* nav bar attributes */
nav { 
    font-size: 20px;
    background-color: grey;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;


}
/* defining width of container. no height to make it a scrollable page */

.container {
    background-color: blue;
    width: 100vw;
    
    


}
/*  */
.content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}
.heading-section {
    display: flex;
    padding: 50px;
    width: 100%;
    justify-content: center;
   

}
.h4heading {
    display: flex;
    
    width: 100%;
    justify-content: center;
}
.card {
    display: flex;
    background-color: red;
    width: 100%;
    justify-content: center;
    padding: 30px;
    

}
.card img {
    width: 20%;
    padding: 10px;
    border-bottom-left-radius: 15%;
    
    
}
.card h4 {
    display: flex;
    
    width: 100%;
    justify-content: center;

}
.card p {
    display: flex;
    width: 80%;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;

}
@media  (max-width: 700px) {
  /* changes for the image when on a mobile screen */
    .card {
        display: flex;
        flex-direction: column;
    }
.card img {
    width: auto;
}
.heading-section {
    font-size: 10px;
    padding: 20px;
}
/* abbout me page text and photo becoming a column */
.about-me-photo-content {
    flex-direction: column-reverse;
    justify-content: center;
    display: flex;
    
}
    
}
/******about me******/
/* setting the width for about me page */
.about-me-container {
    width: 100vw;
    justify-content: center;
    
    

}
.about-me-photo {
    flex: 1;
    background-color: salmon;
}
.about-me-content {
    flex: 1;
    background-color: springgreen;
}
.about-me-photo-content {
    width: 100vw; 
    display: flex;
    background-color: royalblue;
    padding: 20px;
    font-size: 20px;
    justify-content: space-around;
   

}
/* centering about me content */
.about-me-photo-content p {
    display: flex;
    text-align: center;
    
    
}
.about-me-photo-content h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;

}
.mypic {
    height: 400px;
    width: 400px;  
    vertical-align: middle;
    display: flex;
    align-items: center;
}
@media  (max-width: 700px) {
    .about-me-photo-content {
        display: flex;
        align-items: center;
    }
    .mypic {
        padding: 2px;
    
    }
/*******projects*****/
/* standard set up of width of page for this page */
.projects-together-main {
    width: 100%;
    display: flex;
    background: grey ;
    flex-direction: row;
    
}
/* making all portfolio entries take up equal space on the page */
.projects-together {
   /* flex: 1;
   border: 6px solid red; */
}
 @media  (max-width: 700px) {
    .projects-together-main {
        flex-direction: column;
    } 
    
}