body {
  margin: 0;
  padding: 0;
  animation: backgroundcolour infinite 40s;
  box-sizing: border-box;

}

header {
  width: 100%;
  height: 80px;
  display: block;

}
.trial {
  width: 300px;
  height: 200px;
  border: 3px solid grey;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 12%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.linkedin {
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
  justify-content: center;
  
}
.github {
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
  justify-content: center;
}
.footer .contact h2 {
    font-size: 10px;
    justify-content: flex-end;
}

/*nav bar styling*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-color: white;
  
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.dropdown {
position: relative;
display: inline-block;

}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: grey;}


@keyframes backgroundcolour {
  0%
  {
      background-color: #e74c3c;

  }
  20%
  {
      background-color: #2980b9;

  }
  40%
  {
      background-color: #f1c40f;

  }
  60%
  {
      background-color: #8e44ad;

  }
  80%
  {
      background-color: #34495e;

  }
  100%
  {
      background-color: #e74c3c;

  }
}

/*home page welcome note*/
.welcomenote {
  display: flex;
  justify-content: center;
  width: 100%;
}
.welcomenote h1 {
  text-align: center;
}

/*Contact section styling*/
.contact-section {
  background-color: burlywood;
  padding: 40px 0;
}
/*aligining and colouring h1*/
.contact-section h1 {
  text-align: center;

}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;


}
.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;

}
text.contact-form-text {
  resize: none;

}

/* contact form trial */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #2E94E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}

